@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --foreground: #09090B;
  --card: #FFFFFF;
  --card-foreground: #09090B;
  --popover: #FFFFFF;
  --popover-foreground: #09090B;
  --primary: #FF4F01;
  --primary-foreground: #FFFFFF;
  --secondary: #F8F8F8;
  --secondary-foreground: #09090B;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #FF4F01;
  --accent-foreground: #FFFFFF;
  --destructive: #ef4444;
  --destructive-foreground: #FAFAFA;
  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #FF4F01;

  --radius: 1.25rem;
  
  --sidebar: #FFFFFF;
  --sidebar-foreground: #09090B;
  --sidebar-primary: #FF4F01;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F8F8F8;
  --sidebar-accent-foreground: #09090B;
  --sidebar-border: #E2E8F0;
  --sidebar-ring: #FF4F01;
}

.dark {
  --background: #09090B;
  --foreground: #FAFAFA;
  --card: #09090B;
  --card-foreground: #FAFAFA;
  --popover: #09090B;
  --popover-foreground: #FAFAFA;
  --primary: #FF4F01;
  --primary-foreground: #FFFFFF;
  --secondary: #18181B;
  --secondary-foreground: #FAFAFA;
  --muted: #18181B;
  --muted-foreground: #A1A1AA;
  --accent: #FF4F01;
  --accent-foreground: #FFFFFF;
  --destructive: #ef4444;
  --destructive-foreground: #FAFAFA;
  --border: #27272A;
  --input: #27272A;
  --ring: #FF4F01;
  
  --sidebar: #09090B;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #FF4F01;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #18181B;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #27272A;
  --sidebar-ring: #FF4F01;
}

@theme inline {
  /* optional: --font-sans, --font-serif, --font-mono if they are applied in the layout.tsx */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}